<h2 mat-dialog-title>Adăugați un proces-verbal</h2>
<mat-dialog-content [formGroup]="createForm">
  <mat-form-field>
    <mat-label>Scrutin</mat-label>
    <mat-select formControlName="election" (valueChange)="createForm.get('poll').setValue($event.type.polls[0])">
      @for(election of elections; track election.id) {
        <mat-option [value]="election">{{ election.type.name }} {{ election.date | date:"yyyy" }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tip</mat-label>
    <mat-select formControlName="poll">
      @for(poll of createForm.get('election').value.type.polls; track poll.id) {
        <mat-option [value]="poll">{{ poll.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anulare</button>
  <button
    mat-button
    [disabled]="createForm.invalid"
    mat-dialog-close
    [routerLink]="['/form', 'create']"
    [queryParams]="{ electionId: createForm.get('election').value.id, pollId: createForm.get('poll').value.id }"
  >
    Adăugați
  </button>
</mat-dialog-actions>
