[mat-dialog-content] {
  padding-top: 8px!important;
}

mat-form-field {
  width: 100%;
  margin-bottom: 12px;
}

.precinct-info {
  display: flex;
  flex-direction: column;
  line-height: 16px;
}

.precinct-name {
  font-size: 14px;
}

.precinct-name b {
  font-weight: 500;
}

.precinct-details {
  font-size: small;
  text-transform: capitalize;
  color: #424242;
}

.error {
  color: #D32F2F;
  font-size: 12px;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
