<h1 mat-dialog-title>VoteCheck 🇷🇴 <br>
  @for(election of elections; track election.id) {
    {{ election | electionName }}{{ $last ? '' : ',' }}
  }
</h1>
<div mat-dialog-content>
  <p style="max-width: 480px">
    Folosiți această aplicație pentru a primi ajutor privind organizarea secției de votare, completarea
    proceselor-verbale și verificarea cheilor de control.<br>
  </p>
  <div style="text-align: center; color: #616161;">
    v{{ appVersion }} | Dezvoltat de Andrei Hagi
  </div>
</div>
