<h1 mat-dialog-title>{{ section.sectionName }}</h1>
<div mat-dialog-content>
  @for(content of section.content; track $index) {
    <div class="section-container">
      @if(content.text) {
        <div class="section-text">
          {{ content.text }}
        </div>
      }
      @if(content.type === 'list') {
        @for(task of content.tasks; track $index) {
          <div class="task-container">
            <mat-checkbox [(ngModel)]="task.checked" class="multiline">
              {{ task.taskName }}
            </mat-checkbox>
            <div class="tip-container">
              @if(task.tip || task.tipLink) {
                <div class="task-tip">
                  <span>{{ task.tip }}</span>
                  @if(task.tipLink) {
                    <a [routerLink]="[ task.tipLink.link ]" mat-dialog-close>
                      {{ task.tipLink.linkText }}
                    </a>
                  }
                </div>
              }
            </div>
          </div>
        }
      }
    </div>
  }
</div>
