.spacer {
    flex: 1 1 auto;
}

.form-edit-card mat-form-field {
    width: 100%;
}

.mat-form-field-subscript-wrapper {
    position: relative!important;
}

.form-edit-card {
    margin: 12px;
}

.form-message {
    padding: 16px;
}

.valid {
    color: #009688;
}

.invalid {
    color: #F44336;
}