<div class="scroll-container">
  <mat-toolbar>
    <button mat-icon-button [routerLink]="['/']" style="margin-right: 8px;">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ existingForm ? 'Editare' : 'Adăugare'}} P.V.</span>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Calculator" (click)="openCalculator()">
      <mat-icon>calculate</mat-icon>
    </button>
    @if(existingForm) {
      <button mat-icon-button matTooltip="Ștergeți P.V." (click)="deleteForm()">
        <mat-icon>delete</mat-icon>
      </button>
    }
    <button mat-icon-button matTooltip="Salvați P.V." (click)="saveForm()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>
  <div class="scroll">
    @if(formGroup) {
      <form [formGroup]="formGroup">
        <mat-card class="header-card mat-elevation-z2">
          <mat-card-header>
            <mat-card-title>
              <div>
                Proces-verbal pentru {{ election | electionName }} - {{ poll.name }}
                @if(precinct) {
                  (S.V. {{ precinct.county }}-{{ precinct.number }})
                }
              </div>
              @if(election.type.formStructure.simpvPullStrategy) {
                <button mat-icon-button matTooltip="Autocompletați date din SIMPV" (click)="autocompleteFromSimpv()">
                  <mat-icon>cloud_download</mat-icon>
                </button>
              }
            </mat-card-title>
            <mat-card-subtitle>
              <div class="errors-summary">
                @if(formGroup.valid) {
                  <div class="label valid">Procesul-verbal este valid.</div>
                } @else {
                  <div
                    class="label"
                    [class]="{ warning: formHasWarnings(), invalid: formHasErrors() }"
                  >
                    @if(formHasWarnings() && formHasErrors()) {
                      Procesul-verbal conține erori și atenționări.
                    } @else if(formHasErrors()) {
                      Procesul-verbal conține erori.
                    } @else {
                      Procesul-verbal este valid cu atenționări.
                    }
                  </div>
                  <button mat-icon-button (click)="showErrors = !showErrors">
                    @if(showErrors) {
                      <mat-icon>expand_less</mat-icon>
                    } @else {
                      <mat-icon>expand_more</mat-icon>
                    }
                  </button>
                }
              </div>
              @if(showErrors) {
                <div class="error-list">
                  @for(error of formGroup.errors | keyvalue; track $index) {
                    <div
                      class="error-item"
                      [class]="{ invalid: !isWarning(error.value), warning: isWarning(error.value) }"
                    >
                      {{ getErrorMessage(error.value) }}
                    </div>
                  }
                </div>
              }
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        @for(section of election.type.formStructure.sections; track $index) {
          <mat-card class="form-edit-card mat-elevation-z2">
            <mat-card-header>
              <mat-card-title>{{ section.title }}</mat-card-title>
              <mat-card-subtitle>{{ section.subtitle }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              @for(field of section.fields; track field.id) {
                <mat-form-field [class]="{ 'field-has-warnings': hasFieldCrossWarnings(field.id) }">
                  <mat-label>
                    {{ field.title }} {{ field.type === 'computed' ? '| Se completează automat' : ''}}
                  </mat-label>
                  <input
                    matInput
                    [formControlName]="field.id"
                    [errorStateMatcher]="matcher"
                    placeholder=""
                    type="number"
                    min="0"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    [readonly]="field.type === 'computed'"
                  />
                  <mat-hint>{{ field.hint }}</mat-hint>
                  @if(formGroup.get(field.id).errors?.['negative']) {
                    <mat-error>Numărul nu poate fi negativ!</mat-error>
                  } @else {
                    <mat-error>{{ getFieldCrossErrorDescription(field.id) }}</mat-error>
                  }
                </mat-form-field>
              }
            </mat-card-content>
          </mat-card>
        }
        @if(election.type.formStructure.candidateSectionKey) {
          <mat-card class="form-edit-card mat-elevation-z2">
            <mat-card-header>
              <mat-card-title>Voturi valabil exprimate pentru fiecare candidat</mat-card-title>
              <mat-card-subtitle>Numărați voturile valabil exprimate pentru fiecare candidat în parte (punctul {{ election.type.formStructure.candidateSectionKey }}.)</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              @for(candidate of candidates; track $index) {
                <mat-form-field>
                  <mat-label>
                    {{ election.type.formStructure.candidateSectionKey }}{{ $index + 1 }}. {{ candidate.candidate }} {{ candidate.party ? '(' + candidate.party + ')' : '' }}
                  </mat-label>
                  <input
                    matInput
                    [formControlName]="election.type.formStructure.candidateSectionKey + ($index + 1)"
                    [errorStateMatcher]="matcher"
                    placeholder=""
                    type="number"
                    min="0"
                    inputmode="numeric"
                    pattern="[0-9]*"
                  />
                  <mat-error>Numărul nu poate fi negativ!</mat-error>
                </mat-form-field>
              } @empty {
                <p>Lista candidaților nu este disponibilă.</p>
              }
            </mat-card-content>
          </mat-card>
        }
      </form>
    }
  </div>
</div>
