<mat-menu #formMenu="matMenu">
  <ng-template matMenuContent let-form="form">
    <button mat-menu-item (click)="toggleFormArchive(form)">
      <mat-icon>archive</mat-icon>
      <span>{{ form.isArchived ? 'Dezarhivați' : 'Arhivați' }}</span>
    </button>
    <button mat-menu-item (click)="deleteForm(form)">
      <mat-icon>delete</mat-icon>
      <span>Ștergeți</span>
    </button>
  </ng-template>
</mat-menu>

<ng-template #formTemplate let-form="form">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>
        <div>{{ form.pollId }} / S.V. {{ form.precinct.county }}-{{ form.precinct.number }}</div>
        @if(form.isArchived) {
          <mat-icon class="small-icon" matTooltip="Arhivat">archive</mat-icon>
        }
      </mat-card-title>
      <mat-card-subtitle>
        <div>{{ getElection(form.electionId) | electionName }}</div>
        <div>{{ form.timestamp | date:'dd.MM.yyyy HH:mm' }}</div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button class="link-button" mat-flat-button [routerLink]="['/form', form.id, 'edit']">
        <mat-icon>arrow_forward</mat-icon>
        <span>Accesați</span>
      </button>
      <button mat-icon-button [mat-menu-trigger-for]="formMenu" [matMenuTriggerData]="{ form: form }">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<div class="scroll-container">
  <mat-toolbar>
    <span>VoteCheck 🇷🇴</span>
    <span class="spacer"></span>
    <a target="_blank" href="https://prezenta.roaep.ro/{{ currentElection.id }}/pv/romania/results">
      <button mat-icon-button matTooltip="Rezultate în timp real">
        <mat-icon>live_tv</mat-icon>
      </button>
    </a>
    <button mat-icon-button (click)="openSettingsDialog()" matTooltip="Setări">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="openInfoDialog()" matTooltip="Despre">
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar>
  <div class="scroll">
    <div class="home-section">
      <h6>Procese-verbale</h6>
      <div class="form-cards">
        <button class="form-card form-create-button" (click)="createForm()">
          <mat-icon>add</mat-icon>
          <div>Adăugați un proces-verbal</div>
        </button>
        @for(form of forms$ | async; track form.id) {
          <ng-container *ngTemplateOutlet="formTemplate; context: { form: form }"></ng-container>
        }
      </div>
      @if(archivedFormsCount$ | async) {
        <button mat-button (click)="showArchivedForms = !showArchivedForms">
          <mat-icon>{{ showArchivedForms ? 'expand_less' : 'expand_more' }}</mat-icon>
          <span>{{ showArchivedForms ? 'Ascundeți' : 'Arătați' }} procesele-verbale arhivate ({{ archivedFormsCount$ | async }})</span>
        </button>
      }
      @if(showArchivedForms) {
        <div class="form-cards">
          @for(form of archivedForms$ | async; track form.id) {
            <ng-container *ngTemplateOutlet="formTemplate; context: { form: form }"></ng-container>
          }
        </div>
      }
    </div>
      <div class="home-section">
        <h6>Sarcini</h6>
        @defer {
          <app-tasks-list></app-tasks-list>
        } @loading(after 100ms; minimum 1s) {
          <mat-progress-spinner mode="indeterminate" [diameter]="32"></mat-progress-spinner>
        }
      </div>
  </div>
</div>
