<div class="scroll-container">
  <mat-toolbar>
    <span>VoteCheck 🇷🇴</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openSettingsDialog()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="openInfoDialog()">
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar>
  <div class="scroll">
    <div class="home-section">
      <div class="mat-title">Procese-verbale</div>
      @for(form of forms; track form.id) {
        <mat-card class="form-card">
          <mat-card-header>
            <mat-card-title>{{ form.pollId }} / SV</mat-card-title>
            <mat-card-subtitle>{{ form.timestamp | date:'dd.MM.yyyy HH:mm' }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-icon-button [routerLink]="['/form', form.id, 'edit']">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      }
      <div>
        <button mat-button mat-stroked-button [routerLink]="['/form', 'create']">Creați P.V.</button>
      </div>
    </div>
    <div class="home-section">
      <div class="mat-title">Sarcini</div>
      <app-tasks-list></app-tasks-list>
    </div>
  </div>
</div>
