<div class="scroll-container">
  <mat-toolbar>
    <span>VoteCheck 🇷🇴</span>
    <span class="spacer"></span>
    <a target="_blank" href="https://prezenta.roaep.ro/{{ currentElection.id }}/pv/romania/results">
      <button mat-icon-button matTooltip="Rezultate în timp real">
        <mat-icon>live_tv</mat-icon>
      </button>
    </a>
    <button mat-icon-button (click)="openSettingsDialog()" matTooltip="Setări">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="openInfoDialog()" matTooltip="Despre">
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar>
  <div class="scroll">
    <div class="home-section">
      <h6>Procese-verbale</h6>
      <div class="form-cards">
        @for(form of forms$ | async; track form.id) {
          <mat-card class="form-card">
            <mat-card-header>
              <mat-card-title>
                {{ form.pollId }} / S.V. {{ form.precinct.county }}-{{ form.precinct.number }}
              </mat-card-title>
              <mat-card-subtitle>
                <div>{{ getElection(form.electionId) | electionName }}</div>
                <div>{{ form.timestamp | date:'dd.MM.yyyy HH:mm' }}</div>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-icon-button [routerLink]="['/form', form.id, 'edit']">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        }
      </div>
      <button mat-button mat-stroked-button (click)="createForm()">
        Creați P.V.
      </button>
    </div>
      <div class="home-section">
        <h6>Sarcini</h6>
        @defer {
          <app-tasks-list></app-tasks-list>
        } @loading(after 100ms; minimum 1s) {
          <mat-progress-spinner mode="indeterminate" [diameter]="32"></mat-progress-spinner>
        }
      </div>
  </div>
</div>
